<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	
	<connectionStrings>
		<add name="FashionAppDB" connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=FashionAppDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	<appSettings>
		<!-- Mailtrap SMTP Settings -->
		<add key="SmtpHost" value="sandbox.smtp.mailtrap.io"/>
		<add key="SmtpPort" value="587"/>
		<add key="SmtpUsername" value="a9488b6e3d6c6e"/>
		<add key="SmtpPassword" value="243ad5ea4ac8ca"/>
		<add key="SmtpFromEmail" value="fashionapp@yourdomain.com"/>
		<add key="SmtpFromName" value="Fashion App - Style Selector"/>
	</appSettings>
</configuration>